<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

<div class="results col-sm-4 col-sm-offset-6 col-xs-10 col-xs-offset-1">
	<h1> Yelper Helper </h1>
	<ul>
		<% @founded.businesses.each do |bars| %>
				<li> 
					<a href="<%= bars.url %>"> <%= bars.name %> </a>
					<br>
					<%= bars.location.display_address[0] %> 
					<br>
					<%= bars.location.city %> , <%= bars.location.state_code %> <%= bars.location.postal_code %>
				</li>
				<br>
		<% end %>
		<%= link_to '<button type="button">Search Again</button>'.html_safe, root_path %>

		<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png">
	</ul>

		

		
	

</div>

